body {
    background-color: #f8f9fa;
}

.chat-container {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: auto;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
}

#chat {
    padding: 10px;
    overflow-y: scroll;
    max-height: 400px;
}

.bg {
    background-image: url("../assets/img/chatbot.jpg");
    background-repeat: repeat;
}

.input-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
}

input {
    flex: 1;
    padding: 8px;
    text-align: left;
}

button {
    padding: 8px 15px;
    margin-left: 5px;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    margin: 2px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: fit-content;
    max-height: fit-content;
    word-wrap: normal;
    word-break: break-all;
    text-align: left;
    align-self: flex-end;
    white-space: pre-line;
}

.server-message {
    background-color: #28a745;
    color: #fff;
    margin: 2px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: fit-content;
    max-height: fit-content;
    word-wrap: normal;
    word-break: break-all;
    text-align: left;
    white-space: pre-line'
}

.user-message p, .server-message p {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    white-space: pre-line;
}

.disabled-button {
    opacity: 0.5;
    cursor: not-allowed;
  }