{% extends 'index.html' %} 

{% block title %}Future{% endblock %} 

{% block content%}
<section style="background-color:rgb(225, 235, 243)" class="masthead text-center" id="portfolio">
    <div class="container d-flex align-items-center flex-column" style="text-align: left;">
        <h1>To be implemented later</h1>
        <br></br>
		    <p>Cutting-Edge Research: Continuously update our website with the latest breakthroughs and research in biology, ensuring that students have access to the most up-to-date information in the field.
            <p>AI-Driven Learning: Leverage artificial intelligence to personalize the learning experience for each student, adapting content and recommendations based on their individual progress, strengths, and areas for improvement.
            <p>Virtual Reality Labs: Introduce virtual reality simulations that allow students to explore intricate biological structures, conduct experiments in a virtual lab environment, and gain a deeper understanding of complex concepts.
            <p>Collaborative Learning Spaces: Create an interactive platform where students can collaborate with peers from around the world, engaging in group projects, sharing knowledge, and fostering a sense of community.
            <p>Real-World Applications: Showcase the practical applications of biology in various industries and professions, inspiring students by highlighting the diverse career paths they can pursue with a biology background.
            <p>Expert Mentorship: Establish connections with experienced biologists and professionals who can provide mentorship and guidance to students, helping them navigate their academic and career journeys.
            <p>Gamified Learning: Gamify the learning experience by incorporating interactive quizzes, challenges, and rewards, fostering a sense of achievement and motivation as students progress through their biology studies.
            <p>Multimedia Resources: Curate a rich collection of multimedia resources, including videos, animations, and interactive visualizations, to cater to different learning styles and make complex topics more accessible and engaging.
            <p>Exam Preparation: Develop comprehensive study guides and practice materials tailored to standardized biology exams, equipping students with the knowledge and confidence to excel in their assessments.
            <p>Continuous Feedback Loop: Implement a robust feedback system that allows students to provide input, suggest improvements, and share their learning experiences, ensuring that we can continually enhance our website based on their needs.</p>
            <img src="{{ url_for('static', filename='assets/img/dna.svg') }}" alt="..." style="width: 10%; height: 10%;">
            <!-- <a href="https://www.flaticon.com/free-icons/dna" title="dna icons">Dna icons created by Freepik - Flaticon</a> -->
        </div>
</section>
{% endblock %}
