{% extends 'index-drs.html' %} 

{% block title %}Download Licence{% endblock %} 

{% block morecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
{% endblock %}

{% block content %}
<section class="masthead text-center" style="background-color: rgb(203, 255, 238)" id="portfolio">
    <div class="container d-flex align-items-left flex-column">
        <h1>Check out the License Here!</h1>

        <div class="row justify-content-center">
            <div class="col-md-10 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title mb-3"><b>License</b></h3>
                        <embed src="{{ url_for('static', filename=path) }}" width="500" height="375" 
 type="application/pdf">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block morejs %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{%endblock%}
