{% extends 'index.html' %} 

{% block morecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/qst.css') }}"/>
{% endblock %}

{% block title %}Diagnosis{% endblock %} 

{% block content%}
<div class="bg">
<section class="masthead text-center" id="portfolio">
    <form method="POST">
    <div class="container d-flex align-items-left flex-column">
        
        <div class="form-group">
            <div class="mcqcontainer container d-flex align-items-left flex-column">
              <br>
              <h1>Get Diagnosed Now</h1>
              <!-- stuff -->
              <div class="symptoms-container" id="symptoms-container">
                <div class="symptom-group" id="symptom-group">
                  <label for="symptom-1">Symptom 1:</label>
                    <select class="form-select" name="symptoms[]" id="symptom-1">
                      <option value="" disabled selected>Select Symptom</option>
                      <option value="fever">Fever</option>
                      <option value="cough">Cough</option>
                      <option value="headache">Headache</option>
                    </select>
                  <button type="button" id="remove-symptom" class="btn btn-sm btn-danger remove-symptom">-</button>
                </div>
              </div>
              <div>
                <button type="button" id="add-symptom" class="btn btn-sm btn-success add-symptom mt-2">+</button>
              </div>
              <button type="submit" class="btn btn-success">Submit</button>
              <br>
          </div>
        </div>

        <br></br>
    </div>
    </form>
</section>
</div>
{% endblock %}

{% block morejs %}
<script src="{{ url_for('static', filename='js/qst.js') }}"></script>
{% endblock %}


